<% locals.layout_default = function (buf, opts, content) { %><%
  var params = ((opts.env == 'tumblr') ? var_tumblr : var_sample);
  params.env = opts.env;

  if (opts.env == 'tumblr') {
    img_path = 'http://blp-preview.fnobi.com' + img_path;
  }
%><!DOCTYPE html>
<html lang="ja">
<head>
<% partial_meta(buf, {
  description: params.description,
  keywords: keywords,
  favicon_url: favicon_url
}) %>
<% partial_ios_meta(buf, {
  viewport: viewport,
  icon_url: ios_icon_url
}) %>
<!-- ogp -->
<meta property="og:url" content="<%= params.url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= params.title %>" />
<meta property="og:site_name" content="<%= params.title %>" />
<meta property="og:description" content="<%= params.description %>" />
<meta property="og:image" content="<%= params.imageOGP %>" />
<meta property="og:image" content="<%= params.avater %>" />
<meta property="og:locale" content="ja_JP" />
<title><%= params.title %></title><% if (opts.env == 'tumblr') { %>
<meta name="text:Copyright" content=""/>
<meta name="text:Post margin" content="<%= var_sample.textPostMargin %>"/>
<meta name="text:Header width" content="<%= var_sample.textHeaderWidth %>"/>
<meta name="text:Header height" content="<%= var_sample.textHeaderHeight %>"/>
<meta name="color:Header color" content="<%= var_sample.colorHeader %>"/>
<meta name="color:Bg color" content="<%= var_sample.colorBg %>"/>
<meta name="image:OGP image" content="<%= var_sample.imageOGP %>"/>
<meta name="image:Bg image" content="<%= var_sample.imageBg %>"/>
<meta name="if:Show divider" content="<%= var_sample.ifShowDivider %>"/>
<meta name="color:Divider color" content="<%= var_sample.colorDivider %>"/>
<style>
<% include ../../../css/lp.css %>
</style><% } else { %>
<link rel="stylesheet" href="<%= css_path %>/<%= name %>.css" /><% } %><% if (opts.env == 'tumblr') { %>
<style>
#wrapper {
    background-color: <%= params.colorBg %>;
    background-image: url('<%= params.imageBg %>');
}
.post, .post--text, .post--photo, .post--video, .post--link {
    padding-top: <%= params.textPostMargin %>;
    padding-bottom: <%= params.textPostMargin %>;{block:IfNotShowDivider}
    border-style: none;{/block:IfNotShowDivider}
    border-color: <%= params.colorDivider %>
}
.download__link--ios {
  background-image: url('<%= img_path %>/btn_appstore.png');
}
.download__link--android {
  background-image: url('<%= img_path %>/btn_googleplay.png');
}
.header {
    background-color: <%= params.colorHeader %>;
    max-width: <%= params.textHeaderWidth %>;
    height: <%= params.textHeaderHeight %>;
}
</style><% } %>
</head>
<body>
<% partial_fbroot(buf) %>
<section id="wrapper">
<% content(buf, params) %>
<!-- /#wrapper --></section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><% if (opts.env == 'tumblr') { %>
<script>
<% include ../../../js/lp.js %>
</script><% } else { %>
<script src="<%= js_path %>/<%= name %>.js"></script><% } %>
</body>
</html><% } %>
