<% locals.layout_default = function (buf, opts, content) { %><%
  var params = ((opts.env == 'tumblr') ? var_tumblr : var_sample);
  params.env = opts.env;

  if (opts.env == 'tumblr') {
    img_path = 'http://blp-preview.fnobi.com' + img_path;
  }
%><!DOCTYPE html>
<html lang="ja">
<head>
<% partial_meta(buf, {
  description: params.description,
  keywords: keywords,
  favicon_url: favicon_url
}) %>
<% partial_ios_meta(buf, {
  viewport: viewport,
  icon_url: ios_icon_url
}) %>
<% partial_ogp(buf, {
  url: url,
  title: params.title,
  description: params.description,
  site_name: params.title,

  app_id: facebook_app_id,
  type: ogp_type,

  image_url: ogp_image_url,
  image_width: ogp_image_width,
  image_height: ogp_image_height
}) %>
<title><%= params.title %></title>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><% if (opts.env == 'tumblr') { %>
<style>
<% include ../../../css/lp.css %>
</style><% } else { %>
<link rel="stylesheet" href="<%= css_path %>/<%= name %>.css" /><% } %>
<style>
.nav--prev {
  background-image: url('<%= img_path %>/ico_prev.png');
}
.nav--next {
  background-image: url('<%= img_path %>/ico_next.png');
}
</style>
</head>
<body>
<section id="wrapper">
<% content(buf, params) %>
<!-- /#wrapper --></section><% if (opts.env == 'tumblr') { %>
<script>
<% include ../../../js/lp.js %>
</script><% } else { %>
<script src="<%= js_path %>/<%= name %>.js"></script><% } %>
</body>
</html><% } %>
