<% locals.partial_content = function (buf, opts) { %>
<div class="intro">
<ul class="intro__cover"></ul>
<ul class="intro__nav">
<li><a class="nav--prev"><span>prev</span></a></li>
<li><a class="nav--next"><span>next</span></a></li>
<!-- /.intro__nav --></ul>
<!-- /.intro --></div>
<div class="movie">
<h1 class="movie__title"><img src="<%= img_path %>/ttl_movie.png" alt="MOVIE" /></h1>
<!-- /.movie --></div>
<div class="howtouse">
<div class="howtouse__left">
<h1 class="howtouse__title"><img src="<%= img_path %>/ttl_howtouse.png" alt="How to Use" /></h1>
<!-- /.howtouse__left --></div>
<div class="howtouse__right"></div>
<!-- /.howtouse --></div>
<div class="download">
<div class="download__right">
<h1 class="download__title"><img src="<%= img_path %>/ttl_download.png" alt="DOWNLOAD" /></h1>
<ul>
<!-- <li><a class="download__link--appstore" href="#"><img src="<%= img_path %>/btn_appstore.png" alt="App Store" /></a></li> -->
<!-- <li><a class="download__link--googleplay" href="#"><img src="<%= img_path %>/btn_googleplay.png" alt="Google play" /></a></li> -->
</ul>
<!-- /.download__right --></div>
<div class="download__left"></div>
<!-- /.download --></div>
<div class="footer">
Copyright &copy; 面白法人カヤック All Rights Reserved.
<!-- /.footer --></div>
<div class="posts"><%= (opts.env == 'tumblr') ? '{block:Posts}' : '' %><% opts.posts.forEach(function (post) { %><% if (post.type == 'text') { %><%= (opts.env == 'tumblr') ? '{block:Text}' : '' %>
<section class="post--text<%= post.tags ? (' ' + post.tags) : '' %>">
<%- post.body %>
<!-- /.post--text --></section><%= (opts.env == 'tumblr') ? '{/block:Text}' : '' %><% } %><% if (post.type == 'link') { %><%= (opts.env == 'tumblr') ? '{block:Link}' : '' %>
<section class="post--link<%= post.tags ? (' ' + post.tags) : '' %>">
<a href="<%= post.url %>" target="_blank"><%= post.name %></a>
<!-- /.post--link --></section><%= (opts.env == 'tumblr') ? '{/block:Link}' : '' %><% } %><% if (post.type == 'photo') { %><%= (opts.env == 'tumblr') ? '{block:Photo}' : '' %>
<section class="post--photo<%= post.tags ? (' ' + post.tags) : '' %>">
<img src="<%= post.src %>" alt="<%= post.plaintextCaption %>"/>
<div class="post__caption">
<%- post.caption %>
<!-- .post__caption --></div>
<!-- /.post--photo --></section><%= (opts.env == 'tumblr') ? '{/block:Photo}' : '' %><% } %><% if (post.type == 'video') { %><%= (opts.env == 'tumblr') ? '{block:Video}' : '' %>
<section class="post--video<%= post.tags ? (' ' + post.tags) : '' %>">
<%- post.video %>
<!-- /.post--video --></section><%= (opts.env == 'tumblr') ? '{/block:Video}' : '' %><% } %><% }) %><%= (opts.env == 'tumblr') ? '{/block:Posts}' : '' %>
<!-- /.posts --></div><% } %>
