<% locals.partial_content = function (buf, opts) { %>
<header class="header">
<ul class="header__slide"></ul>
<!-- /.header --></header>
<div class="posts"><%= (opts.env == 'tumblr') ? '{block:Posts}' : '' %><% opts.posts.forEach(function (post) { %><% if (post.type == 'text') { %><%= (opts.env == 'tumblr') ? '{block:Text}' : '' %>
<section class="post--text<%= post.tags ? (' ' + post.tags) : '' %>">
<%- post.body %>
<!-- /.post--text --></section><%= (opts.env == 'tumblr') ? '{/block:Text}' : '' %><% } %><% if (post.type == 'link') { %><%= (opts.env == 'tumblr') ? '{block:Link}' : '' %>
<section class="post--link<%= post.tags ? (' ' + post.tags) : '' %>">
<a href="<%= post.url %>" target="_blank"><%= post.name %></a>
<!-- /.post--link --></section><%= (opts.env == 'tumblr') ? '{/block:Link}' : '' %><% } %><% if (post.type == 'photo') { %><%= (opts.env == 'tumblr') ? '{block:Photo}' : '' %>
<section class="post--photo<%= post.tags ? (' ' + post.tags) : '' %>">
<img src="<%= post.src %>" alt="<%= post.plaintextCaption %>"/>
<div class="post__caption">
<%- post.caption %>
<!-- .post__caption --></div>
<!-- /.post--photo --></section><%= (opts.env == 'tumblr') ? '{/block:Photo}' : '' %><% } %><% if (post.type == 'video') { %><%= (opts.env == 'tumblr') ? '{block:Video}' : '' %>
<section class="post--video<%= post.tags ? (' ' + post.tags) : '' %>">
<%- post.video %>
<!-- /.post--video --></section><%= (opts.env == 'tumblr') ? '{/block:Video}' : '' %><% } %><% }) %><%= (opts.env == 'tumblr') ? '{/block:Posts}' : '' %>
<!-- /.posts --></div>
<div class="footer">
Copyright &copy; <%= opts.textCopyright %> All Rights Reserved.
<!-- /.footer --></div><% } %>
